{% extends 'base.html.twig' %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}
    {% include 'dashboard/header/secretaire.html.twig' %}

    <div class="container text-center pt-5">
        <h1>Liste des intervenants</h1>

        <table class="table pt-2">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Spécialité</th>
                    <th scope="col">Responsable formation</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for intervenant in intervenants %}
                    <tr>
                        <td>{{ intervenant.id }}</td>
                        <td>{{ intervenant.nom }}</td>
                        <td>{{ intervenant.prenom }}</td>
                        <td>{{ intervenant.specialite }}</td>
                        <td>
                            {% if intervenant.responsableFormateur %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href="{{ path('modifier_intervenant', {id: intervenant.id}) }}">
                                    <button type="button" class="btn btn-success">Modifier</button>
                                </a>
                                <a href="{{ path('supprimer_intervenant', {id: intervenant.id}) }}">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                </a>
                                <a href="{{ path('disponibilites_intervenant', {id: intervenant.id}) }}">
                                    <button type="button" class="btn btn-warning">Voir les disponibilités</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}