<style>
    .nav-link { padding: 0 0.5rem !important; }
</style>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('dashboard') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="https://img.icons8.com/plasticine/100/000000/apple-calendar.png" alt="Logo calendrier"
                     width="50" height="50"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('dashboard') }}" class="nav-link px-2 text-white">Accueil</a></li>
                <li><a href="{{ path('calendrier') }}" class="nav-link px-2 text-white">Calendrier</a></li>
                <li class="nav-link px-2 text-white dropdown">
                    <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Intervenant
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('liste_intervenants') }}">Liste des intervenants</a></li>
                        <li><a class="dropdown-item" href="{{ path('creer_intervenant') }}">Ajouter un intervenant</a></li>
                    </ul>
                </li>
                <li class="nav-link px-2 text-white dropdown">
                    <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Matière
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('liste_matieres') }}">Liste des matières</a></li>
                        <li><a class="dropdown-item" href="{{ path('creer_matiere') }}">Ajouter une matière</a></li>
                    </ul>
                </li>
                <li class="nav-link px-2 text-white dropdown">
                    <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion des étudiants
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('liste_etudiants') }}">Liste des étudiants</a></li>
                        <li><a class="dropdown-item" href="{{ path('creer_etudiant') }}">Ajouter un étudiant</a></li>
                        <li><a class="dropdown-item" href="{{ path('liste_groupe') }}">Liste des groupes</a></li>
                        <li><a class="dropdown-item" href="{{ path('creer_groupe') }}">Ajouter un groupe</a></li>
                    </ul>
                </li>
                <li class="nav-link px-2 text-white dropdown">
                    <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Paramètres
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('parametre_calendrier') }}">Calendrier</a></li>
                        <li><a class="dropdown-item" href="{{ path('parametre_calendrier_semaine_ferie') }}">Semaines et jours fériés</a></li>
                    </ul>
                </li>
            </ul>

            <div class="text-end">
                <a href="{{ path("app_logout") }}">
                    <button type="button" class="btn btn-outline-light me-2">
                        Déconnexion
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>