{% extends 'base.html.twig' %}

{% block title %}Creer un cours{% endblock %}

{% block body %}
    {% include 'dashboard/header/secretaire.html.twig' %}

    <div class="container text-center pt-5">
        <h1>Creer un cours</h1>

        {{ form_start(coursForm, { 'attr': {'class': 'row g-3'} }) }}
        <div class="col-md-6">
            {{ form_row(coursForm.commenceA, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(coursForm.finiA, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12">
            {{ form_row(coursForm.libelle, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-4">
            {{ form_row(coursForm.fkIntervenant, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-4">
            {{ form_row(coursForm.fkMatiere, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-4">
            {{ form_row(coursForm.fkGroupe, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12">
            {{ form_row(coursForm.enregistrer, { 'attr': {'class': 'btn btn-primary'} }) }}
        </div>
        {{ form_end(coursForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
        // $(document).ready(function(){
        //     var $intervenant = $('#cours_form_fkIntervenant')
        //     var $token = $('#post_token')
        //
        //     $intervenant.change(function() {
        //         var $form = $(this).closest('form')
        //         var data = {}
        //
        //         data[$token.attr('name')] = $token.val()
        //         data[$intervenant.attr('name')] = $intervenant.val()
        //
        //         $.post($form.attr('action'), data).then(function(response) {
        //             $("#cours_form_fkMatiere").replaceWith(
        //                 $(response).find("#cours_form_fkMatiere")
        //             )
        //         })
        //     })




            // var $sport = $('#cours_form_fkIntervenant');
            // $sport.change(function() {
            //     // ... retrieve the corresponding form.
            //     var $form = $(this).closest('form');
            //     // Simulate form data, but only include the selected sport value.
            //     var data = {};
            //     data[$sport.attr('name')] = $sport.val();
            //     // Submit data via AJAX to the form's action path.
            //     $.ajax({
            //         url : $form.attr('action'),
            //         type: $form.attr('method'),
            //         data : data,
            //         complete: function(html) {
            //             // Replace current position field ...
            //             $('#cours_form_fkMatiere').replaceWith(
            //                 // ... with the returned one from the AJAX response.
            //                 $(html.responseText).find('#cours_form_fkMatiere')
            //             );
            //             // Position field now displays the appropriate positions.
            //         }
            //     });
            // });



        // });
    </script>
{% endblock %}