{% extends 'base.html.twig' %}

{% block title %}Modifier un étudiant{% endblock %}

{% block body %}
    {% include 'dashboard/header/secretaire.html.twig' %}

    <div class="container text-center pt-5">
        <h1>Modifier l'étudiant {{ etudiant.nom }} {{ etudiant.prenom }}</h1>

        {% set password = etudiant.nom | lower ~ etudiant.prenom | lower %}

        {{ form_start(etudiantForm, { 'attr': {'class': 'row g-3'} }) }}
        <div class="col-md-6">
            {{ form_row(etudiantForm.nom, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(etudiantForm.prenom, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12">
            {{ form_row(etudiantForm.fkGroupe, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12">
            {{ form_row(etudiantForm.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12">
            {{ form_row(etudiantForm.password, { 'attr': {'class': 'form-control'}, 'value': password }) }}
        </div>
        <div class="col-12">
            {{ form_row(etudiantForm.enregistrer, { 'attr': {'class': 'btn btn-primary'} }) }}
        </div>
        {{ form_end(etudiantForm) }}
    </div>
{% endblock %}